* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background {
  background-image: url(../img/background.png);
  background-repeat: repeat;
  background-size: 20em;
  filter: grayscale(100%) opacity(0.12);
  height: 100vh;
  width: 100vw;
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}

.container {
  background-color: #100415;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  height: 100vh;
  width: 100vw;
}

.wrapper {
  perspective: 2000px;
  /* transform-style: preserve-3d; */
  z-index: 1;
  pointer-events: none;
}

.ticket {
  aspect-ratio: 21/10;
  background: rgba(51, 7, 229, 0.1215686275);
  border: 2px solid rgba(66, 184, 131, 0.2);
  border-radius: 10px;
  color: #e3e3e3;
  display: flex;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  padding: 1.75%;
  width: 800px;
  z-index: 2;
}
.ticket_hole {
  background: url(../img/background.png) center center;
  border: 2px solid rgba(99, 221, 180, 0.5098039216);
  border-radius: 5px;
  content: "";
  left: calc(50% - 40px);
  top: 34px;
  position: absolute;
  height: 12px;
  width: 80px;
  z-index: 1;
}
@media (max-width: 800px) {
  .ticket_hole {
    border-top-color: rgba(53, 135, 107, 0.6705882353);
    border-left-color: rgba(53, 135, 107, 0.6705882353);
    border-right-color: rgba(30, 98, 75, 0.6901960784);
    border-bottom-color: rgba(24, 56, 45, 0.7803921569);
  }
}
@media (min-width: 800px) {
  .ticket_hole {
    border-top-color: rgba(102, 51, 183, 0.6705882353);
    border-left-color: rgba(102, 51, 183, 0.6705882353);
    border-right-color: rgba(102, 51, 183, 0.4196078431);
    border-bottom-color: rgba(102, 51, 183, 0.4196078431);
  }
}
.ticket_hole::before {
  background: rgba(60, 60, 60, 0.58);
  box-shadow: -1px -1px 0px 0px rgba(255, 255, 255, 0.2);
  content: "";
  position: absolute;
  width: 92%;
  height: 340px;
  bottom: 45px;
  transform: skew(25deg) translateX(-125%);
}
.ticket_hole::after {
  background: rgba(60, 60, 60, 0.58);
  box-shadow: -1px -1px 0px 0px rgba(255, 255, 255, 0.2);
  content: "";
  position: absolute;
  width: 92%;
  height: 340px;
  bottom: 5px;
  transform: skew(-25deg) translateX(117%);
}

.ticket_inner {
  border: 4px solid rgba(66, 184, 131, 0.7333333333);
  border-radius: 8px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  display: flex;
  flex-flow: column;
  place-content: space-between space-between;
  padding: 20px;
  width: 100%;
}

/* header */
.ticket-header {
  display: flex;
  place-content: start space-between;
}
.ticket-header .user-box {
  display: grid;
  grid-template-columns: repeat(3, auto);
  scale: 0.9;
  transform: perspective(500px) translateZ(50px);
}
.ticket-header .user-box .github-logo {
  border-radius: 100px;
  grid-column: 1/2;
  grid-row: 1/3;
  margin-right: 20px;
  width: 60px;
}
.ticket-header .user-box .github-user {
  font-family: Menlo, "Courier New", monospace;
  font-size: 17px;
  font-weight: 700;
  grid-column: 2/3;
  grid-row: 1/2;
}
.ticket-header .user-box .github-name {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 700;
  grid-column: 2/3;
  grid-row: 2/3;
  text-shadow: -1px 1px 1px black, 0 0 12px rgba(0, 255, 255, 0.49);
}
.ticket-header .ticket-number {
  background: rgba(66, 184, 131, 0.2784313725);
  display: flex;
  font-family: Menlo, "Courier New", monospace;
  font-size: 27px;
  font-weight: 900;
  position: absolute;
  right: 0;
  top: 0;
  flex-wrap: wrap;
  place-content: center;
  align-items: center;
  padding: 15px 20px 15px 15px;
}
.ticket-header .ticket-number::before {
  aspect-ratio: 1/1;
  content: "";
  height: 0;
  display: flex;
  position: absolute;
  left: -62px;
  border: 31px solid rgba(66, 184, 131, 0.2784313725);
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.ticket-header .ticket-number img {
  margin-right: 30px;
}
.ticket-header .ticket-number p {
  text-shadow: 2px 2px 1px black;
}

/* ticket Body*/
.ticket-body {
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-content: space-between;
  position: relative;
}
.ticket-body::before {
  aspect-ratio: 1;
  background-image: linear-gradient(-45deg, rgba(189, 52, 254, 0.533) 50%, rgba(71, 202, 255, 0.533) 0);
  border-radius: 50%;
  content: "";
  display: flex;
  filter: blur(60px);
  position: absolute;
  inset: 0 0 0 40px;
  opacity: 0.6;
  width: 195px;
}
.ticket-body .vite-logo {
  margin-left: 40px;
  padding-bottom: 20px;
  max-width: 180px;
  grid-column: 1/2;
  grid-row: 1/3;
  scale: 0.9;
}
.ticket-body .vite-data {
  grid-column: 2/3;
  margin-right: 20px;
}
.ticket-body .vite-data h2 {
  background-image: linear-gradient(120deg, #bd34fe 30%, #41d1ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #e3e3e3;
  font-size: 66px;
  line-height: 1;
  letter-spacing: -1px;
  scale: 0.9;
  transform: perspective(500px) translateZ(50px);
}
.ticket-body .vite-data h3 {
  color: #e3e3e3;
  font-size: 30px;
}

.vite-footer {
  color: #e3e3e3;
  font-size: 17px;
  font-weight: 500;
  grid-column: 2/3;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column wrap;
  place-content: end end;
  text-align: right;
}
.vite-footer img {
  height: 22px;
}
.vite-footer .vite-footer_text {
  margin-bottom: 5px;
}
.vite-footer .vite-footer_host {
  display: flex;
  flex-wrap: wrap;
  place-content: end end;
}
.vite-footer .vite-footer_host span {
  font-size: 18px;
  font-weight: 500;
  background-clip: text;
  background-image: linear-gradient(120deg, #bd34fe 30%, #41d1ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.vite-footer .vite-footer_host a {
  display: flex;
  align-items: end;
  margin-left: 10px;
}
.vite-footer .vite-footer_host img {
  display: flex;
}

@media (max-width: 800px) {
  .wrapper {
    pointer-events: all;
  }
  .ticket {
    aspect-ratio: 4/7;
    width: 320px;
  }
  .ticket-header .ticket-number {
    font-size: 18px;
    place-content: center space-between;
    width: 100%;
  }
  .ticket-header .ticket-number::before {
    display: none;
  }
  .ticket-header .user-box {
    margin-top: 70px;
  }
  .ticket-header .user-box .github-name {
    font-size: 20px;
  }
  .ticket-body {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .ticket-body .vite-logo {
    margin: 0;
    max-width: 160px;
  }
  .ticket-body .vite-data {
    margin: 0 0 20px;
  }
  .ticket-body .vite-data h2 {
    font-size: 40px;
  }
  .ticket-body .vite-data h3 {
    font-size: 22px;
  }
  .ticket-body .vite-footer {
    font-size: 15px;
  }
}